{
  "extends": ["../.eslintrc"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allowAfterThis": true
      }
    ],
    "import/no-unused-modules": ["warn"],
    "func-style": [
      "error",
      "declaration",
      {
        "allowArrowFunctions": true
      }
    ]
  }
}
